
.productdev {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.producthedlin {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 18px;
    margin-left: 5px;
}


.productimgone {
    height: 200px;
    width: 220px;
}
.productimgtwo {
    height: 50px;
    width: 50px;
    border: 1px solid blue;
}
.productfivdev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.9rem;
    padding: 10px;
    
   
}
.shoesproductone {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 220px;
}
.shoesproducttwo {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(246, 244, 244);
    margin-top: 5px;
    width: 220px;
    
}
.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid grey;
    height: 40px;
    margin-left: -2px;
    margin-right: 8px;
    color: rgb(45, 45, 45);
    font-weight: 500;
    width: 220px;
}


.producthead {
    width: 220px;
}

.productfirst {
    
    width: 220px;
}
.productsec {
    
    width: 220px;
}
.productthird {
    
    width: 220px;
}
.productfourth {
 
    width: 220px;
}
.productfifth {
   
    width: 220px;
}