.Seclandscap {
    margin-top: 100px;
    align-items: center;
    justify-content: center;

}

.Landscap2  {
    height: 380px;
    width: 100%;
    align-items: center;
    justify-content: center;
}